@import "./normalize.css";

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.df{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    position: relative;
    background-color: #fff;
    font-size: 13px;
    line-height: 16px;
    padding: 16px 2px;
}

.header__container{
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 10px;
}

.header__logo{
    width: 108px;
    margin-right: 30px;
}
.alt-link-text{
    display: block;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    margin-right: 30px;
    padding-left: 20px;
}
.alt-link-text::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: #000000;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header__main-nav-list{
    padding-top: 2px;
}
.header__main-nav-item{
    padding: 0px 30px 0px 12px;
    cursor: pointer;
}
.nav-button, .interaction-button{
    position: relative;
    padding: 0;
    cursor: pointer;
}
.nav-button::after{
    content: url("../images/arrow-down-black.svg");
    display: block;
    position: absolute;
    width: 15px;
    height: 8px;
    top: 50%;
    transform: translateY(-80%);
    right: -20px;
}
.alt-link-text{
    position: relative;
}
.hovered::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    left: 0;
    bottom: -4px;
    display: none;
}
.alt-link-text{
    display: block;
    position: relative;
}
.alt-link-text::after{
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    background-color: #000000;
    right: 0;
    bottom: -4px;
    display: none;
}
.hovered-item:hover .hovered::before{
    display: block;
}
.hovered-item:hover .alt-link-text::after{
    display: block;
}
.nav-link{
    display: block;
    position: relative;
}
.item-more{
    display: none;
}
.search-block, .cart-block{
    padding-right: 30px;
    margin-right: 20px;
}
.search-block__button, .cart-block__button{
    position: relative;
}
.search-block__button::after, .cart-block__button::after{
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: -24px;
    background-size: contain;
}
.search-block__button::after{
    background: url("../images/search-icon.svg") no-repeat right center;
    background-size: contain;
}
.cart-block__button::after{
    background: url("../images/cart-icon.svg") no-repeat right center;
    background-size: contain;
}
.auth-block__text{
    display: block;
    margin-right: 15px;
}
.auth-block__img{
    width: 32px;
    height: 32px;
}

.mb-nav{
    display: none;
}

.header__navigation-burger{
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.burger-line{
    width: 100%;
    height: 2px;
    background-color: #000000;
}

.surface-block{
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 10px;
    display: none;
}

.surface-block__button{
    position: relative;
    font-weight: 600;
    text-align: left;
    padding: 0;
}
.surface-block__button::after{
    content: url("../images/arrow-down-black.svg");
    display: block;
    position: absolute;
    width: 15px;
    height: 8px;
    top: 50%;
    transform: translateY(-80%);
    right: -20px;
}

@media(max-width: 1400px){
    .search-block, .cart-block{
        display: none;
    }
}

@media(max-width: 1200px){
    .item-more{
        display: block;
    }
    .main-nav-item:nth-last-of-type(2), .main-nav-item:nth-last-of-type(3){
        display: none;
    }
}
@media(max-width: 1024px){
    .main-nav-item:nth-last-of-type(4){
        display: none;
    }
}
@media(max-width: 900px){
    .main-nav-item:nth-last-of-type(5){
        display: none;
    }
}

@media(max-width: 500px){
    .header__container{
        padding: 0;
    }
    .dt-nav{
        display: none;
    }
    .mb-nav{
        display: flex;
        padding: 0px 10px 12px 10px;
    }
    .search-block__button::after, .cart-block__button::after{
        right: -10px;
        width: 20px;
        height: 20px;
    }
    .surface-block{
        display: block;
    }
}